/* Tipografia */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Seteo Genérico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/******************** ESTILO NAVBAR ********************/
.header {
  display: flex;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border: 1.5px solid rgba(145, 140, 140, 0.704);
  background-color: rgba(0, 0, 0, 0.918);
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 5px;
}

/******************** ESTILO DEL LOGO ********************/
.navbar a img {
  height: 90px;
  width: auto;
  transition: all 0.3s;
  border-radius: 30px;
  border-radius: 50% 0% 50% 0%;
  border: 2px solid;
  border-color: rgba(128, 128, 128, 0.357);
  float: left;
}
.navbar a img:hover {
  transform: scale(1.2);
}

/************** ESTILO DEL TITULO PRINCIPAL ************/
h1 {
  display: flex;
  font-weight: 70rem;
  font-style: bold;
  color: #eee6e690;
  font-weight: bolder;
  letter-spacing: 5px;
  justify-content: left;
  padding: 0;
  margin: 0;
}
/******** Estilos de Titulos de Sub - Páginas ********/
h2 {
  display: flex;
  font-style: bold;
  color: rgb(195, 123, 28);
  font-weight: bolder;
  letter-spacing: 5px;
  text-align: justify;
  margin: 5px;
}
/**************** Estilo de Menu & sub menu *************/

.navbar .menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
.navbar .menu li {
  display: flex;
  letter-spacing: 2px;
  align-items: center;
}

.navbar .menu li:hover ul {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  letter-spacing: 2px;
}
.navbar .menu li ul {
  display: none;
}
.navbar .menu a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(195, 123, 28);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
}
.menu .sub_menu1 li a {
  color: seashell;
}
main {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/******** Estilo de combo de Busqueda - Menu ********/

.busqueda {
  display: flex;
  justify-content: center;
  width: auto;
}
.busqueda input {
  display: flex;
  justify-content: right;
  align-items: left;
  width: auto;
  height: 15%;
  font-size: 0.9rem;
  margin: 1%;
  padding: 1.5%;
  border-radius: 10px;
  border-color: rgba(214, 160, 90, 0.699);
}
.btn_busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: rgb(195, 123, 28);
  border-color: rgba(214, 160, 90, 0.699);
  font-weight: bold;
  width: alto;
  height: 90%;
  margin: 1%;
  padding: 1.5%;
  border-radius: 3px;
}

/**************** ESTILO HOME ******************/
/* Estilos de la Presentacion - Home */
.home_presentacion {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
}

h3 {
  font-size: 2.5rem;
  padding: 10px;
  font-weight: bold;
  word-spacing: 8px;
  letter-spacing: 3px;
  text-align: center;
  color: rgba(77, 93, 94, 0.582);
}

h2 {
  font-size: 1.375rem;
  padding: 3%;
  text-decoration: underline;
  margin: 0;
  justify-content: center;
}
.text {
  font-size: 15px;
  padding: 15px;
  text-align: center;
  color: rgba(241, 242, 247, 0.938);
  line-height: 82px;
  font-weight: bold;
  border-radius: 5%;
  word-spacing: 8px;
  letter-spacing: 3px;
  background-image: url("../assets/img/FondoPrincipal.JPG");
}

/* Estilos de los servicios - Home */

.home_servicios {
  padding: 40px 0;
}
.home_servicios article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 20px;
  align-items: stretch;

}

.home_servicios article h4{
  padding:5%;
  margin: 0%;
  font-size: 1.25rem;
  word-spacing: 8px;
  letter-spacing: 3px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.home_servicios article{
  display: flex;
  justify-content: center;
}
article .text2 {
  padding: 2%;
  margin: 2%;
  font-size: 20px;
  word-spacing: 8px;
  letter-spacing: 3px;
  color: rgba(103, 110, 110, 0.404);
  display: flex;
  justify-content: center;
  text-align: center;

}

article img {
  height: 70%;
  width: 70%;
  padding: 0%;
  margin: 10%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(214, 160, 90, 0.699);
  border-radius: 35%;
  transition: all 0.3s;
}

article img:hover {
    transform: scale(1.1);
}
/************ ESTILO DE PAGES **********************/

.containerPage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 60px;
  align-items: stretch; 
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
.subPageTit {
  padding: 8px;
  margin: 5px;
  font-family: "Poppins", sans-serif;
}

.descPage {
  display: flex;
  padding: 5px;
  margin: 14px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  width: auto;
  height: 50%;
  justify-content: flex-end;
  letter-spacing: 5px;
}

.card{
    display: flex;
    border-radius: 8%;
}
.subTitFoto {
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}
.descFoto {
  font-size: 11px;
  text-align: center;
  padding: 0;
  font-weight: bold;
  line-height: 20px;
  color: rgba(128, 128, 128, 0.753);
  letter-spacing: 2px;
}

.containerPage card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  position: relative;
}
.containerPage div {
  padding: 10px;
  text-align: center;
}

.containerPage div img {
  max-width: 60%;
  margin: 10%;
  border: 1px solid rgba(158, 151, 147, 0.486);
  box-shadow: 2px 2px 6px 0px rgba(216, 86, 26, 0.699);
  border-radius: 15%;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  vertical-align: middle;
  
}

.containerPage div img:hover {
  transform: rotateY(180deg);
}

/************ ESTILO DEL FORMULARIO DE CONTACTOS ************/
.container .col-sm-9 .my-auto {
  display: flex;
  justify-content: center;
  align-items: left;
  max-width: auto;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.subtit {
  display: flex;
  color: rgba(20, 18, 18, 0.609);
  font-weight: bold;
  word-spacing: 8px;
  letter-spacing: 3px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.form-control {
  background-color: rgba(201, 190, 190, 0.544);
  font-size: 0.8rem;
  border-color: rgba(214, 160, 90, 0.699);
  width: auto;
  height: 35px;
  display: flex;
}

span {
  color: rgb(194, 47, 47);
  font-size: 0.625rem;
}

.form-group label,
label {
  color: rgba(0, 0, 0, 0.642);
  font-weight: bold;
  font-size: 0.8rem;
}

.form-group select option {
  font-size: 0.6875rem;
}

.form-group input,
input,
.form-control,
.input-group-text,
.form-select {
  font-size: 0.8rem;
  color: rgba(84, 75, 71, 0.683);
}

.form-group textarea {
  display: flex;
  resize: auto;
  width: 592px;
  height: 250px;
}

.form-group p {
  font-size: 0.7rem;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

/*********** Botones: Del Formulario de contactos **********/

.form-group .btn {
  color: rgb(195, 123, 28);
  border-color: rgba(105, 91, 91, 0.74);
  font-family: "Poppins", sans-serif;
}

.form-group a {
  font-size: 85%;
}

.form-group .btn:hover {
  background-color: #000000;
  color: rgb(230, 230, 223);
  border-color: rgba(20, 18, 18, 0.609);
  font-family: "Poppins", sans-serif;
}

/******************** ESTILO DEL FOOTER ********************/
.homeFooter {
  background-color: rgb(195, 123, 28);
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px 5px rgba(36, 35, 35, 0.568);
  border-radius: 0% 25% 0% 25%;
}

.homeFooter div a {
  display: flex;
  margin: 0.625rem;
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
  color: #aa2626d2;
  font-weight: bolder;
  text-align: center;
  padding: 5px;
  text-decoration: underline;
}

.homeFooter div ul {
  margin: 0.625rem;
  color: rgb(20, 20, 20);
  font-weight: bolder;
  letter-spacing: 0.1875rem;
  font-size: 0.625rem;
  padding: 5px;
  font-style: italic;
  list-style: none;
  text-align: center;
  justify-content: center;
}


.homeFooter .what .whatLink {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;

  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 2px 1px;
  text-decoration: none;
}

.homeFooter .what .whatLink i {
  width: 30%;
  height: 30%;
  font-size: 30px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/******************* Media Query - Responsivo ********************/

/************ Media Query - Mobile *****************/
  
@media only screen and (max-width: 480px)  {
  /* NavBar Mobile*/
  .header {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  /* Logo Mobile */
  .navbar a img {
    display: flex;
    height: 40px;
    margin: 5px;
  }

  /* Titulo Principal Mobile */
  h1 {
    display: flex;
    font-size: .75rem;
    text-align: center;
    margin: 5px;
  }

  .busqueda input,
  .btn_busqueda {
    font-size: 0.625rem;
    width: auto;
    height: 15px;
  }

  .busqueda {
    height: 18px;
  }

  .navbar .menu {
    display: inline-block;
    font-size: .625rem;
    flex-direction: column;
  }

  .menu .sub_menu1 li a {
    font-size: .5625rem;
  }

  .descPage {
    font-size: 0.625rem;
    text-align: left;
    justify-content: left;
  }

  /* Form Contacto Mobile */
  .subtit {
    font-size: 0.6875rem;
  }

  .form-group label,
  label {
    font-size: 0.5625rem;
  }

  span {
    font-size: 0.5rem;
  }

  .form-group input,
  input,
  .form-control,
  .input-group-text,
  .form-select {
    font-size: 0.5625rem;
    width: auto;
    height: 18px;
  }

  .form-group select option {
    font-size: 0.5625rem;
  }

  .form-group textarea {
    display: flex;
    resize: auto;
    width: 333px;
    height: 281px;
  }

  .form-group p {
    font-size: 0.5625rem;
    font-style: italic;
    font-family: "Poppins", sans-serif;
  }

  /* Botones: Del Formulario de contactos Mobile */
  .form-group .btn {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 20px;
  }

  .form-group a {
    font-size: 0.625rem;
  }

  /* Footer Mobile */
  .homeFooter {
    display: flex;
    flex-direction: column;
  }

  .homeFooter div a {
    display: flex;
    align-items: center;
    font-size: .5rem;
  }

  .homeFooter div ul {
    display: flex;
    font-size: .4375rem;
    flex-direction: column;
    text-align: justify;
  }

  .homeFooter .what .whatLink{
    height: 30px;
    width: 1.875rem;
  }
  /* Home Mobile */
  main h3 {
    font-size: 15px;
    text-align: center;
    
  }

  .home_presentacion {
    height: 5%;
    justify-content:left;
  
  }

  .home_presentacion,
  .text {
    font-size: 12px;
    width: auto;
    word-spacing: 3px;
    letter-spacing: 0px;
  }


  h2 {
    font-size: 11px;
    padding: 0;
    text-align:justify;
    justify-content: left;
    margin:1%;
    padding: 2%;

  }

  .home_servicios {
    text-align: left;
    justify-content: left;
    padding: 2%;
  }


  .home_servicios article h4 {
    padding: 0%;
    margin: 3%;
    font-size: 10px;
    text-align:justify;
    justify-content:left;
    width: auto;
    word-spacing: 0px;
    
  }

  article .text2 {
    font-size: .5625rem;
    font-weight: bolder;
    text-align:left;
    justify-content:center;
    width: 80%;
    margin:3%;
    padding: 0%;
    
  }


  article div{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    
  }


  article div img{

    padding: 2%;
    margin: 12%;
  }
  /* Estilos de Pages Mobile */
  .descPage {
    font-size: 0.625rem;
    text-align: left;
  }
}

/* Media Query - Tablet*/
@media (min-width: 481px) and (max-width: 775px)

{
  /* Logo tablet*/
  .navbar{
    justify-content: center;
  }
  .navbar a img {
    display: flex;
    height: 40px;
    margin: 7px;
  
  }

  /* Titulo Principal tablet */
  h1 {
    display: flex;
    font-size: 15px;
    margin: 7px;
    text-align:center;
  }

  .busqueda input,
  .btn_busqueda {
    font-size:10px;
    width: auto;
    height: 20px;
  }

  .busqueda {
    flex-wrap: wrap;
  }

  .navbar .menu {
    display: inline-block;
    font-size: .75rem;
    flex-direction: column;
  }

  .menu .sub_menu1 li a {
    font-size: 10px;
  }

  h2 {
    font-size: 1.0625rem;
    margin: 2px;
    padding: 10px;
  }

  /* Form Contacto Tablet */
  .subtit {
    font-size: 0.875rem;
    margin: 1%;
  }

  .form-group label,
  label {
    font-size: 0.8125rem;
    margin: 5px;
    padding: 10px;
  }

  span {
    font-size: 10px;
  }

  .form-group input,
  input,
  .form-control,
  .input-group-text,
  .form-select {
    font-size: 0.6875rem;
    width: auto;
    padding: 1px;
    height: 100%;
  }

  .form-group select option {
    font-size: 0.5625rem;
  }

  .form-group textarea {
    display: flex;
    resize: auto;
    width: 550px;
    height: 350px;
  }

  .form-group p {
    font-size: 0.6875rem;
    font-style: italic;
    font-family: "Poppins", sans-serif;
  }

  /* Botones: Del Formulario de contactos Tablet */
  .form-group .btn {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    font-size: 0.75rem;
  }

  .form-group a {
    font-size: 0.75rem;
    /* No se como hacer para centra el texto - probe varias cosas y no me doy cuenta que aplicar */
  }

  /* Footer Tablet */
  .homeFooter {
    flex-direction: row;
  }

  /* Home Table */
  main h3 {
    font-size: 19px;
  }

  .home_presentacion {
    height: 2%;
    width: auto;
    justify-items: center;
  }

  .home_presentacion,
  .text {
    font-size: .625rem;
  }

  .grid h2 {
    font-size: .9375rem;
  }

  .home_servicios article h4 {
    font-size: .8125rem;
    padding: 3%;
    
  }
  article .text2 {
    font-size: .6875rem;
    font-weight: bolder;
    letter-spacing: 4px;
  }

  article div{
    display: flex;
    justify-content: center;
  }
  article img {
    width: 40%;
    padding: 1%;
  }
}

/* Escrtiorio */
@media (min-width: 776px) and (max-width: 1024px){

  /* Logo escritorio*/
  .navbar{
    justify-content: center;
  }
  .navbar a img {
    display: flex;
    height: 60px;
    margin: 7px;
  
  }

  /* Titulo Principal escritorio */
  h1 {
    display: flex;
    font-size: 20px;
    margin: 7px;
    text-align:center;
  }

  .busqueda input,
  .btn_busqueda {
    font-size:15px;
    width: auto;
    height: 20px;
  }

  .busqueda {
    flex-wrap: wrap;
  }

  .navbar .menu {
    display: inline-block;
    font-size: 13px;
    flex-direction: column;
  }

  .menu .sub_menu1 li a {
    font-size: 9px;
  }

  h2 {
    font-size: 1.0625rem;
    margin: 2px;
    padding: 10px;
  }

  /* Form Contacto escritorio */
  .subtit {
    font-size: 0.875rem;
    margin: 1%;
  }

  .form-group label,
  label {
    font-size: 0.8125rem;
    margin: 5px;
    padding: 10px;
  }

  span {
    font-size: 10px;
  }

  .form-group input,
  input,
  .form-control,
  .input-group-text,
  .form-select {
    font-size: 0.6875rem;
    width: auto;
    padding: 1px;
    height: 100%;
  }

  .form-group select option {
    font-size: 0.5625rem;
  }

  .form-group textarea {
    display: flex;
    resize: auto;
    width: 550px;
    height: 350px;
  }

  .form-group p {
    font-size: 0.6875rem;
    font-style: italic;
    font-family: "Poppins", sans-serif;
  }

  /* Botones: Del Formulario de contactos escritorio */
  .form-group .btn {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    font-size: 0.75rem;
  }

  .form-group a {
    font-size: 0.75rem;
  }

  /* Footer escritorio */
  .homeFooter {
    flex-direction: row;
  }

  /* Home escritorio */
  main h3 {
    font-size: 19px;
  }

  .home_presentacion {
    height: 2%;
    width: auto;
    justify-items: center;
  }

  .home_presentacion,
  .text {
    font-size: .75rem;
  }

  .grid h2 {
    font-size: .9375rem;
  }

.home_servicios article{ 
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  display: flex;
  text-align: center;
}

  .home_servicios article h4 {
    font-size: .8125rem;
    padding: 3%;
    
  }
  article .text2 {
    font-size: .6875rem;
    font-weight: bolder;
    letter-spacing: 4px;
    justify-content: center;
    
  }

  article div{
    display: flex;
    justify-content: center;
  }
  article img {
    width: 50%;
    padding: 1%;
  }

}