/************ ESTILO DEL FORMULARIO DE CONTACTOS ************/
.container .col-sm-9 .my-auto {
  display: flex;
  justify-content: center;
  align-items: left;
  max-width: auto;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.subtit {
  display: flex;
  color: rgba(20, 18, 18, 0.609);
  font-weight: bold;
  word-spacing: 8px;
  letter-spacing: 3px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.form-control {
  background-color: rgba(201, 190, 190, 0.544);
  font-size: 0.8rem;
  border-color: rgba(214, 160, 90, 0.699);
  width: auto;
  height: 35px;
  display: flex;
}

span {
  color: rgb(194, 47, 47);
  font-size: 0.625rem;
}

.form-group label,
label {
  color: rgba(0, 0, 0, 0.642);
  font-weight: bold;
  font-size: 0.8rem;
}

.form-group select option {
  font-size: 0.6875rem;
}

.form-group input,
input,
.form-control,
.input-group-text,
.form-select {
  font-size: 0.8rem;
  color: rgba(84, 75, 71, 0.683);
}

.form-group textarea {
  display: flex;
  resize: auto;
  width: 592px;
  height: 250px;
}

.form-group p {
  font-size: 0.7rem;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

/*********** Botones: Del Formulario de contactos **********/

.form-group .btn {
  color: rgb(195, 123, 28);
  border-color: rgba(105, 91, 91, 0.74);
  font-family: "Poppins", sans-serif;
}

.form-group a {
  font-size: 85%;
}

.form-group .btn:hover {
  background-color: #000000;
  color: rgb(230, 230, 223);
  border-color: rgba(20, 18, 18, 0.609);
  font-family: "Poppins", sans-serif;
}