/******************* Media Query - Responsivo ********************/

/************ Media Query - Mobile *****************/
  
@media screen and (max-width: 480px)  {
  /* NavBar Mobile*/
  .header {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  /* Logo Mobile */
  .navbar a img {
    display: flex;
    height: 40px;
    margin: 5px;
  }

  /* Titulo Principal Mobile */
  h1 {
    display: flex;
    font-size: .75rem;
    text-align: center;
    margin: 5px;
  }

  .busqueda input,
  .btn_busqueda {
    font-size: 5px;
    width: auto;
    height: 15px;
  }


  .busqueda {
    height: .9375rem;
  }

  .navbar .menu {
    display: inline-block;
    font-size: .625rem;
    flex-direction: column;
  }

  .menu .sub_menu1 li a {
    font-size: .5625rem;
  }

  .descPage {
    font-size: 0.625rem;
    text-align: left;
    justify-content: left;
  }

  /* Form Contacto Mobile */
  .subtit {
    font-size: 0.6875rem;
  }

  .form-group label,
  label {
    font-size: 0.5625rem;
  }

  span {
    font-size: 0.5rem;
  }

  .form-group input,
  input,
  .form-control,
  .input-group-text,
  .form-select {
    font-size: 0.5625rem;
    width: auto;
    height: 18px;
  }

  .form-group select option {
    font-size: 0.5625rem;
  }

  .form-group textarea {
    display: flex;
    resize: auto;
    width: 333px;
    height: 281px;
  }

  .form-group p {
    font-size: 0.5625rem;
    font-style: italic;
    font-family: "Poppins", sans-serif;
  }

  /* Botones: Del Formulario de contactos Mobile */
  .form-group .btn {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 20px;
  }

  .form-group a {
    font-size: 0.625rem;
  }

  /* Footer Mobile */
  .homeFooter {
    display: flex;
    flex-direction: column;
  }

  .homeFooter div a {
    display: flex;
    align-items: center;
    font-size: .5rem;
  }

  .homeFooter div ul {
    display: flex;
    font-size: .4375rem;
    flex-direction: column;
    text-align: justify;
  }

  .homeFooter .what .whatLink{
    height: 30px;
    width: 1.875rem;
  }
  /* Home Mobile */
  main h3 {
    font-size: 15px;
    text-align: center;
    
  }

  .home_presentacion {
    height: 5%;
    justify-content:left;
  
  }

  .home_presentacion,
  .text {
    font-size: 12px;
    width: auto;
    word-spacing: 3px;
    letter-spacing: 0px;
  }


  h2 {
    font-size: 11px;
    padding: 0;
    text-align:justify;
    justify-content: left;
    margin:1%;
    padding: 2%;

  }

  .home_servicios {
    text-align: left;
    justify-content: left;
    padding: 2%;
    
  }


  .home_servicios article h4 {
    padding: 0%;
    margin: 3%;
    font-size: 10px;
    text-align:justify;
    justify-content:left;
    width: auto;
    word-spacing: 0px;
    
  }

  article .text2 {
    font-size: .5625rem;
    font-weight: bolder;
    text-align:left;
    justify-content:center;
    width: 80%;
    margin:3%;
    padding: 0%;
    
  }


  article div{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    
  }


  article div img{

    padding: 2%;
    margin: 12%;
  }
  /* Estilos de Pages Mobile */
  .descPage {
    font-size: 0.625rem;
    text-align: left;
  }
}

/* Media Query - Tablet*/
@media (min-width: 481px) and (max-width: 775px)

{
  /* Logo tablet*/
  .navbar{
    justify-content: center;
  }
  .navbar a img {
    display: flex;
    height: 40px;
    margin: 7px;
  
  }

  /* Titulo Principal tablet */
  h1 {
    display: flex;
    font-size: 15px;
    margin: 7px;
    text-align:center;
  }

  .busqueda input,
  .btn_busqueda {
    font-size:10px;
    width: auto;
    height: 20px;
  }

  .busqueda {
    flex-wrap: wrap;
  }

  .navbar .menu {
    display: inline-block;
    font-size: .75rem;
    flex-direction: column;
  }

  .menu .sub_menu1 li a {
    font-size: 10px;
  }

  h2 {
    font-size: 1.0625rem;
    margin: 2px;
    padding: 10px;
  }

  /* Form Contacto Tablet */
  .subtit {
    font-size: 0.875rem;
    margin: 1%;
  }

  .form-group label,
  label {
    font-size: 0.8125rem;
    margin: 5px;
    padding: 10px;
  }

  span {
    font-size: 10px;
  }

  .form-group input,
  input,
  .form-control,
  .input-group-text,
  .form-select {
    font-size: 0.6875rem;
    width: auto;
    padding: 1px;
    height: 100%;
  }

  .form-group select option {
    font-size: 0.5625rem;
  }

  .form-group textarea {
    display: flex;
    resize: auto;
    width: 550px;
    height: 350px;
  }

  .form-group p {
    font-size: 0.6875rem;
    font-style: italic;
    font-family: "Poppins", sans-serif;
  }

  /* Botones: Del Formulario de contactos Tablet */
  .form-group .btn {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    font-size: 0.75rem;
  }

  .form-group a {
    font-size: 0.75rem;
    /* No se como hacer para centra el texto - probe varias cosas y no me doy cuenta que aplicar */
  }

  /* Footer Tablet */
  .homeFooter {
    flex-direction: row;
  }

  /* Home Table */
  main h3 {
    font-size: 19px;
  }

  .home_presentacion {
    height: 2%;
    width: auto;
    justify-items: center;
  }

  .home_presentacion,
  .text {
    font-size: .625rem;
  }

  .grid h2 {
    font-size: .9375rem;
  }

  .home_servicios article h4 {
    font-size: .8125rem;
    padding: 3%;
    
  }
  article .text2 {
    font-size: .6875rem;
    font-weight: bolder;
    letter-spacing: 4px;
  }

  article div{
    display: flex;
    justify-content: center;
  }
  article img {
    width: 40%;
    padding: 1%;
  }
}

/* Escrtiorio */
@media (min-width: 776px) and (max-width: 1024px){

  /* Logo escritorio*/
  .navbar{
    justify-content: center;
  }
  .navbar a img {
    display: flex;
    height: 60px;
    margin: 7px;
  
  }

  /* Titulo Principal escritorio */
  h1 {
    display: flex;
    font-size: 20px;
    margin: 7px;
    text-align:center;
  }

  .busqueda input,
  .btn_busqueda {
    font-size:15px;
    width: auto;
    height: 20px;
  }

  .busqueda {
    flex-wrap: wrap;
  }

  .navbar .menu {
    display: inline-block;
    font-size: 13px;
    flex-direction: column;
  }

  .menu .sub_menu1 li a {
    font-size: 9px;
  }

  h2 {
    font-size: 1.0625rem;
    margin: 2px;
    padding: 10px;
  }

  /* Form Contacto escritorio */
  .subtit {
    font-size: 0.875rem;
    margin: 1%;
  }

  .form-group label,
  label {
    font-size: 0.8125rem;
    margin: 5px;
    padding: 10px;
  }

  span {
    font-size: 10px;
  }

  .form-group input,
  input,
  .form-control,
  .input-group-text,
  .form-select {
    font-size: 0.6875rem;
    width: auto;
    padding: 1px;
    height: 100%;
  }

  .form-group select option {
    font-size: 0.5625rem;
  }

  .form-group textarea {
    display: flex;
    resize: auto;
    width: 550px;
    height: 350px;
  }

  .form-group p {
    font-size: 0.6875rem;
    font-style: italic;
    font-family: "Poppins", sans-serif;
  }

  /* Botones: Del Formulario de contactos escritorio */
  .form-group .btn {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    font-size: 0.75rem;
  }

  .form-group a {
    font-size: 0.75rem;
  }

  /* Footer escritorio */
  .homeFooter {
    flex-direction: row;
  }

  /* Home escritorio */
  main h3 {
    font-size: 19px;
  }

  .home_presentacion {
    height: 2%;
    width: auto;
    justify-items: center;
  }

  .home_presentacion,
  .text {
    font-size: .75rem;
  }

  .grid h2 {
    font-size: .9375rem;
  }

.home_servicios article{ 
  
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  display: flex;
    text-align: center;
}

  .home_servicios article h4 {
    font-size: .8125rem;
    padding: 3%;
    
  }
  article .text2 {
    font-size: .6875rem;
    font-weight: bolder;
    letter-spacing: 4px;
    justify-content: center;
    
  }

  article div{
    display: flex;
    justify-content: center;
  }
  article img {
    width: 50%;
    padding: 1%;
  }

}